$myMessage: #7FD1AE;
$receivedMessage: #90A6FF;
$headerColor: #C3F9FF;
.chatView {
  display: grid;
  grid-template-rows: 10fr 1fr;
  height: 100vh;
  background-color: #f7f7f7;
  box-shadow: 5px 10px 10px #888888;
  .chatBox {
    overflow-y: auto;
    // display: grid;
    // grid-template-rows: 1fr 4fr;
    .chatHead {
      position: fixed;
      display: flex;
      flex-direction: row;
      width: 100%;
      top: 0;
      height: 20px;
      background-color: $headerColor;
      padding: 1.25rem;
      box-shadow: 1px 1px 10px #AAAAAA;
      div img {
        display: none;
      }
      p {
        margin: 0;
      }
    }
    .chatMain {
      overflow-y: auto;
      margin: 1rem;
      margin-top: 75px;
      .messageDiv {
        width: 100%;
        margin: 0.5rem 0;
        .timestamp {
          margin: 0;
        }
      }
      .messageView {
        box-shadow: 2px 3px 10px #C4C4C4;
        margin: 0.5rem;
        width: 40%;
        padding: 0.5rem;
        border-radius: 10px;
      }
      .receivedMessage {
        text-align: left;
        background-color: $receivedMessage;
        .timestamp {
          text-align: right;
        }
      }
      .myMessage {
        text-align: right;
        margin: 0 0 0 auto;
        background-color: $myMessage;
        .timestamp {
          text-align: left;
        }
      }
    }
  }
  
  .inputDiv {
    float: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sender {
  font-size: 0.75rem;
  margin: 0;
}
.message {
  margin-top: 0;
}

@media (max-width: 700px) {
  .chatView .chatBox .chatHead {
    padding: 1rem;
  }
  .chatView .chatBox .chatHead div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chatView .chatBox .chatHead div img {
    display: block;
    width: 30px;
    height: 30px;
  }
  .chatView .chatBox .chatHead p {
    margin: 0;
    line-height: 20px;
  }
}
@media (max-width: 400px) {
  .chatView .chatBox .chatHead {
    padding: 0.5rem;
  }
  .chatView .chatBox .chatHead div img {
    width: 20px;
    height: 20px;
  }
  .chatView .chatBox .chatHead p {
    margin: 0;
    font-size: 0.75rem;
    line-height: 20px;
  }
  .chatView .chatBox .chatMain .messageView {
    width: 60%;
    .message {
      margin: 0.5rem 0;
    }
  }
}