$myMessage: #7FD1AE;
$receivedMessage: #90A6FF;
$headerColor: #C3F9FF;
.chatView {
  display: grid;
  grid-template-rows: 10fr 1fr;
  height: 100vh;
  background-color: #f7f7f7;
  box-shadow: 5px 10px 10px #888888;
  .chatBox {
    overflow-y: auto;
    // display: grid;
    // grid-template-rows: 1fr 4fr;
    .chatHead {
      position: fixed;
      width: 100%;
      top: 0;
      height: 20px;
      background-color: $headerColor;
      padding: 1.25rem;
      box-shadow: 1px 1px 10px #AAAAAA;
    }
    .chatMain {
      overflow-y: auto;
      margin: 1rem;
      margin-top: 75px;
      .messageDiv {
        width: 100%;
        margin: 0.5rem 0;
      }
      .messageView {
        box-shadow: 2px 3px 10px #C4C4C4;
        margin: 0.5rem;
        width: 40%;
        padding: 0.5rem;
        border-radius: 10px;
      }
      .receivedMessage {
        text-align: left;
        background-color: $receivedMessage;
      }
      .myMessage {
        text-align: right;
        margin: 0 0 0 auto;
        background-color: $myMessage;
      }
    }
  }
  
  .inputDiv {
    float: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sender {
  font-size: 0.75rem;
  margin: 0;
}
.message {
  margin-top: 0;
}