.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

@media (max-width: 1500px) {
  .dashboard {
    grid-template-columns: 2fr 5fr;
  }
}

@media (max-width: 900px) {
  .dashboard {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 700px) {
  .dashboard {
    display: block;
  }
}